html {
	font-size: 1rem;
}

body {
	background-color: #ffffff;
  font-family: 14px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

header {
	margin: 0px !important;
	padding: 0px !important;
}

section {
	margin: 0px !important;
	border-top: solid 2px #D4D4D5 !important;
}

footer {
  margin: 0px !important;
}

/* default h1 header settings */
h1 {
	/* font-size: 3rem !important; */
	font-family: 'League Spartan';
	font-weight: normal;
	font-size: 5rem !important;
	margin-top: 0px;
}

/* default h2 header settings */
h2 {
	font-family: 'Lato';
	font-weight: normal;
	font-size: 3.25rem !important;
	margin-top: 0px;
}

/* default h3 header settings */
h3 {
	font-family: 'Lato';
	font-weight: normal;
	font-size: 1.75rem !important;
	margin-top: 0px;
}

/* default h4 header settings */
h4 {
	font-family: 'Lato';
	font-weight: normal;
	font-size: 1rem !important;
	margin-top: 0px;
}

/* default h5 header settings */
h5 {
	font-family: 'Lato';
	font-weight: normal !important;
	font-size: 1rem;
	margin-top: 0px;
}

/* default h6 header setting */
h6 {
	font-family: 'Lato';
	font-weight: normal;
	font-size: 1rem !important;
	margin-top: 0px;
}

p {
	font-family: 'Georgia';
	font-size: 1rem;
	font-weight: normal;
}

/* controls the link color */
a {
	color: #404040 !important;
  /* color: #00B7FF; */
	/* color: #222222; */
}

a:hover {
	color: #444444;
	/* color: #2185D0 !important; */
}

/* controls the logo styles */
.logo {
	font-family: 'League Spartan';
	font-size: 2.5rem;
	font-weight: normal;
	color: #000000;
}

.bold {
	font-weight: bold;
}

/* controls the brand font */
.brand {
	font-family: 'League Spartan';
	font-weight: normal;
	font-size: 1.5rem;
}

.uppercase {
	text-transform: uppercase !important;
}

.button {
	font-family: 'Lato' !important;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase !important;
}

.link {
	font-family: 'Lato', sans-serif;
	font-weight: 'bold';
	font-size: 1rem;
}

#main-footer {
	margin: 0px !important;
	padding: 0px !important;
	color: #F9F9F9;
	background-color: none;
	background-image: url("../public/img/swirl_pattern.png");
}

#spirals {
	margin: 0px !important;
	padding: 0px !important;
	color: #F9F9F9;
	background-image: url("img/swirl_pattern.png") !important;
}

.inverted.lightgrey.segment {
	background-color: #EEEEEE;
}

.inverted.darkgrey.segment {
	background-color: #222222;
}

.green-brand {
	color: #669900;
}

#offscreenMenu {
	display: none;
}

.straight.segment {
	border: 0px;
	border-radius: 0px;
}

.card {
  background-color: #ffffff !important;
  color: #000000;
}

.blue.bottom.border {
	border-bottom: solid 2px #2185D0;
}

/*
	HOME VIEW
*/
#home-header {
	margin: 0px 0px 0px 0px;
}

/* ============
	Header Images
*/ ============

/* displays image in home header */
#home-img {
	background-image: url(/public/img/placeimg_1000_1000_grayscale_tech_4.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in about header */
#about-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in products header */
#products-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in services header */
#services-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in company header */
#company-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in portfolio header */
#portfolio-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}	

/* displays image in blog header */
#blog-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}	

/* displays image in contact header */
#contact-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* displays image in start header */
#start-header-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#roberts-story-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#employment-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#volunteer-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#education-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#skillset-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#portfolio-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#testimonials-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#contact-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#company-header-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
}

#our-mission-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#our-story-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#ideal-clients-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#education-section-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#pricing-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#our-values-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#ventures-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#benefits-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#articles-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
	overflow: hidden;
}

#contact-header-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
}

#contact-form-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech.jpg');
	background-position: top;
	background-size: cover;
}

#contact-us-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#social-media-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#ideal-clients-banner-img {
		background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
		background-position: top;
		background-size: cover;
}

.inverted.grey.segment {)
	background-color: #F3F4F6 !important;
}

.divider {
	margin: 0px !important;
	padding: 0px !important;
}

h2 .white .header {
	color: #ffffff;
}

.ui .item {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#copyright {
	text-transform: uppercase;
}

#header-banner-img {
	background-image: url(/public/img/dark_wood_@2X.png);
	background-position: top;
	background-size: cover;
	text-align: center !important;
}

#about-robert-banner-img {
	background-image: url(/public/img/billie_holiday.png);
	background-position: top;
	background-size: cover;
}

#services-title-img {
	background-image: url(../img/swirl_pattern.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

#roberts-story-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#employment-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#volunteer-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#education-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#portfolio-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#testimonials-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#skillset-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#products-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

#contact-banner-img {
	background-image: url(http://loremflickr.com/g/759/427/portland);
	background-position: top;
	background-size: cover;
}

#latest-post-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#categories-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

#past-projects-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

#location-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

#swirl_banner_img {
	background-image: url('/img/swirl_pattern.png');
	background-position: top;
	background-size: cover;
	background-repeat: repeat-x repeat-y;
}

#home-services-banner-img {
	background-image: url('/img/placeimg_1000_1000_grayscale_tech_1.jpg');
	background-position: top;
	background-size: cover;
}

.ui.straight.grey.segment {
	box-shadow: 0px 0px 0px 0px;
	border-top: solid 1px #d4d4d0 !important;
	border-bottom: none !important;
}

.ui.raised.segment {
	box-shadow: 0px 0px 0px 0px !important;
	border-radius: 5px !important;
	border-right: solid 5px #d4d4d5 !important;
	border-bottom: solid 5px #d4d4d5 !important;
}

.ui.raised.segment:hover {
	box-shadow: 0px 0px 0px 0px !important;
	border-radius: 5px important;
	border-right: solid 5px #2185d0 !important;
	border-bottom: solid 5px #2185d0 !important;
	cursor: pointer;
}

.ui.raised.blue.segment {
	box-shadow: 0px 0px 0px 0px !important;
	border-radius: 5px important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: solid 2px #2185d0 !important;
	border-right: solid 5px #d4d4d5 !important;
	border-bottom: solid 5px #d4d4d5 !important;
	cursor: pointer;
}

.ui.inverted.grey.segment {
	background-color: #f9f9f9 !important;
}

.ui.grey.banner.header {
	color: #f9f9f9;
}

.ui.uppercase.white.header {
	color: #ffffff !important;
}
