/* ===========
	Nav styles
=========== */

/* controls the primary navigation menu */
nav.ui.borderless.attached.menu {
	border-top: solid 2px #D4D4D5;
	border-bottom: solid 2px #D4D4D5;
}

a.uppercase.brand.link {
	color: #404040 !important;
}

a.basic.grey.button {
	color: #404040 !important;
	border: solid 1px #404040;
	border-radius: 5px;
}

a.basic.blue.button {
	color: #2185D0;
	border: solid 1px #2185D0;
	border-radius: 5px;
}