/* ===========
	Nav styles
=========== */

/* controls the primary navigation menu */
nav.ui.borderless.attached.menu {
	border-top: solid 2px #D4D4D5;
	border-bottom: solid 2px #D4D4D5;
}

a.ui.link {
	font-family: 'OSP-DIN', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;
}

div.ui.simple.uppercase.dropdown.item {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;
}

a.ui.uppercase.logo.link {
	font-family: 'Oswald', sans-serif !important;
	font-size: 2rem;
	font-weight: normal;
	color: #444444 !important;
	margin-top: 100px !important;
}

a.uppercase.brand.link {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;
}

a.basic.grey.button {
	font-family: 'Fjalla One', sans-serif !important;
	font-weight: normal;
	font-size: 1rem;
	color: #404040 !important;
	border: solid 1px #404040;
	border-radius: 5px;
}

a.basic.blue.button {
	font-family: 'Fjalla One', sans-serif !important;
	font-weight: normal;
	font-size: 1rem;
	color: #2185D0;
	border: solid 1px #2185D0;
	border-radius: 5px;
}

a.grey.button {
	font-family: 'Fjalla One', sans-serif !important;
	font-weight: normal;
	font-size: 1rem;
	background-color: #404040 !important;
	color: #f7f7f7 !important;
	border: solid 1px #404040;
	border-radius: 5px;
}

a.blue.button {
	font-family: 'Fjalla One', sans-serif !important;
	font-weight: normal;
	font-size: 1rem;
	background-color: #2185D0;
	color: #ffffff !important;
	border: solid 1px #2185D0;
	border-radius: 5px;
}
