/* ===========
	Nav styles
=========== */

/* controls the primary navigation menu */
nav.ui.borderless.attached.menu {
	border-top: solid 2px #D4D4D5;
	border-bottom: solid 2px #D4D4D5;
}

a.ui.link {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;	
}

div.ui.simple.uppercase.dropdown.item {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;	
}

a.uppercase.brand.link {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;
}

a.basic.grey.button {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #404040 !important;
	border: solid 1px #404040;
	border-radius: 5px;
}

a.basic.blue.button {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	color: #2185D0;
	border: solid 1px #2185D0;
	border-radius: 5px;
}