extends layout

block content

	header(id='about-header')
		div(class='ui internally celled padded grid')
			div(id='about-header-img', class='ui nine wide column')
				h1(class='ui uppercase grey right aligned header', style="font-size: 8rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') About
			div(class='ui seven wide column')
				h3(class='ui uppercase header') Robert Raleigh is a front-end web developer with MEAN stack skills
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
				h3(class="ui header") Connect with Robert
				div(class="ui vertical list")
					div(class="ui item")
						a(href="mailto:robert@rgrindustries.com")
							i(class="fa fa-envelope fa-fw")
							span robert@rgrindustries.com
					div(class="ui item")
						a(href="tel:+15035026125")
							i(class="fa fa-phone fa-fw")
							span +1 (503) 502-6125
					div(class="ui item")
						a(href="http://www.github.com/robertgraleigh")
						i(class="fa fa-pencil-square-o fa-fw")
						span Message Robert
					div(class="ui item")
						a(href="http://www.twitter.com/robertgraleigh") @RobertGRaleigh
						i(class="fa fa-twitter fa-fw")
					div class="ui item"
						a(href="http://www.linkedin.com/robertgraleigh", class="fa fa-linkedin fa-fw") RobertGRaleigh
					div(class="ui item")
						a(href="http://www.github.com/robertgraleigh") @RobertGRaleigh
						i(class="fa fa-github fa-fw")

	section(id='roberts-story')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				h3(class='ui header') Robert is a blank and blank
				p Born in 1984, Robert was subjected of sexual assault at a young age. Robert was adopted by his first grade teacher at age nine. When Robert was thirteen, his biological father committed suicide.
				p In 2006, Robert was the first member of his biological family to graduate from college. Robert attended Portland State University.
				p In 2012, Robert launched Log Camp, a vocational training school for diverse, underserved youth, teaching coding, computer science, and software development skills.
				p In 2004, Robert formed Press Digital Magazine, a online publication explored hybrid print and digital distribution model.
			div(id='roberts-story-banner-img', class='ui nine wide right aligned column')
				h2(class='ui uppercase left aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Robert's Story

	section(id='employment')
		div(class='ui internally celled padded grid')
			div(id='employment-banner-img', class='ui nine wide column')
				h2(class='ui uppercase right aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Employment
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Past Employers
					ul(class='ui vertical list')
						div(class='ui item')
							h4(class='ui header') Program Director
							span Program Director, Log Camp at Impact NW
						div(class='ui item')
							span Frontend Web Developer, Raleigh &amp; Co.
						div(class='ui item')
							span Technology Outreach Specialist, at Corvallis Chamber of Commerce
						div(class='ui item')
							span Event Coordinator, Technology Association of Oregon
						div(class='ui item')
							span Shift Leader, at Oregon Health Sciences University

	section(id='volunteer')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				ul(class='ui vertical list')
				div(class='ui item')
				span The Young Entrepreneurs Program, at TiE Oregon
								div(class='ui item')
									span Native American Youth Association
								div(class='ui item')
									span First Baptist Church of Portland
								div(class='ui item')
									span Startup Camp PDX, at Caitlin Gabel School
			div(id='volunteer-banner-img', class='ui nine wide column')
				h3(class='ui left aligned uppercase header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Volunteer

	section(id='education')
		div(class='ui internally celled padded grid')
			div(id='education-banner-img', class='ui nine wide column')
				h2(class='ui right aligned uppercase header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Education
			div(class='ui seven wide column')
				p Robert attended Portland State University, where he graduated with a Bachelor of Arts, English. His concentration in Professional Writing.
				p Robert attended Portland Community College from 2011 - 2013. He pursued an Associates Degree in Web Development and Design.
				P He also studied Project Management, and Leadership Skills in the Management/Supervisory Development Department at PCC.
				ul(class='ui vertical list')
								div(class='ui item')
									span Portland State University
									span Bachelors in Arts, English
									span Concentration in Professional Writing
									span Graduated 2006
								div(class='ui item')
									span Portland Community College
									span Web Development and Design
									span 2011 - 2013
								div(class='ui item')
									span Portland Community College
									span Management and Supervisory Development
									span Project Management
									span Leadership
								div(class='ui item')
									span Event Coordinator, Technology Association of Oregon
								div(class='ui item')
									span Shift Leader, at Oregon Health Sciences University

	section(id='skillset')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				p This is the area for the technical skills
			div(id='skillset-banner-img', class='ui seven wide column')
				h2(class='ui uppercase grey left aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Skillset

	section(id='portfolio')
		div(class='ui internally celled padded grid')
			div(id='portfolio-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey right aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Portfolio
			div(class='ui seven wide column')
				h2(class='ui header') Portfolio
					h3(class='ui header') Visit the portfolio
					a(href='/portfolio', class='ui blue button') View portfolio

	section(id='testimonials-section')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				h3(class='ui header') Testimonial One
				blockquote This is a blockquote about some silly work thing.
				b First Last
				h3(class='ui header') Testimonial Two
				blockquote This is the second testimonial
				b First Last
				h3(class='ui header') Testimonial One
				blockquote This is another blockquote
				b First Last
			div(id='testimonials-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey left aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Testimonials

	section(id='contact-section')
		div(class='ui internally celled padded grid')
			div(id='contact-banner-img', class='ui nine wide column')
				h1(class='ui uppercase grey right aligned header', style="font-size: 5rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') Contact Us
			div(class='ui six wide column')
				h2(class='ui uppercase header') Robert Raleigh
				ul(class='ui vertical list')
					div(class='ui item')
						a(href='tel:+15035026125')
							span +1 (503) 502-6125
					div(class='ui item')
						a(href='')
							span robert@rgr.com
					div(class='ui item')
						a(href='https://www.twitter.com/robertgraleigh') @RobertGRaleigh
					div(class='ui item')
						a(href='https://www.linkedin.com/in/robertgraleigh') @RobertGRaleigh
				h3(class='ui header') Office
				address 334 NW 11th Ave, Portland, OR 97204
				div(class='ui horizontal list')
					div(class='ui item')
						img(src='http://placehold.it/140x140', alt='Robert G Raleigh')
					div(class='ui item')
						img(src='http://placehold.it/140x140', alt='Robert G Raleigh')
