extends layout

block content

	header(id='blog-header')
		div(class='ui internally celled padded grid')
			div(id='blog-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Blog
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui uppercase header') Articles, and resources for beginning and intermediate javascript developers.
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
					a(class='ui basic blue button') Test button
					a(class='ui basic blue button') Test button

	section(id='blog-posts')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Latest Post
			div(class='ui seven wide column')
				div(class='ui segment')
					h2(class='ui uppercase left aligned inverted grey header') 
						span(class='blue bottom border') Latest Post title
					span Post Author
					p Blog post teaser
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.

	section(id='blog-categories', class='')
		div(class='ui internally celled padded two column grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header') 
					span(class='blue bottom border') Categories
			div(class='ui seven wide column')
				div(class='ui items')
					div(class='ui item')
						img(src='/img/placeholder.png', class='ui tiny image')
						h3(class='ui header') Books
					div(class='ui item')
						img(src='/img/placeholder.png', class='ui tiny image')
						h3(class='ui header') Links
					div(class='ui item')
						img(src='/img/placeholder.png', class='ui tiny image')
						h3(class='ui header') Articles
					div(class='ui item')
						img(src='/img/placeholder.png', class='ui tiny image')
						h3(class='ui header') Resources
					div(class='ui item')					
						img(src='/img/placeholder.png', class='ui tiny image')
						h3(class='ui header') Tools