// views -> company.jade

extends layout

block content

	header(id='company-header')
		div(class='ui internally celled padded grid')
			div(id='company-header-img', class='ui nine wide column')
				h1(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') #{pageHeader.title}
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') Raleigh &amp; Co. is a digital web studio for creating and launching new business ideas.
					p #{pageHeader.subTitle}
					p An idea can be simple, or an idea can be complex.
					a(class='ui basic blue button') Test button
					a(class='ui basic blue button') Test button

	section(id='our-story')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Our Story
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') Founded in x, this is the main section
					p I started Raleigh and Co, while. Throughout my life, I've been interested in the human spirit, and what leads us to excellence. The daily struggle to learn slide guitar, without access. It wasn't until later in my life, after college, I discovered a mentor. Mike Dobro Thunder McLaren. The importantce, of mentorship, and experts who can guide you, and fill in the knowledge you lack. In this modern, digital economy, we expect creators. Don't get stuck on DIY. The unDIY, Don't let DIY undo your dreams. Throughout his career, Robert has as a serial entrepreneur.
					p This is the second paragraph of the story section.
					p This is the third paragraph of the story section.
					p This is the fourth paragraph of the story section.
					p This is the fifth paragraph of the story section.

	section(id='our-mission')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Our Mission
			div(class='ui seven wide column')
				div(class='ui raised segment')
					img(src='http://placehold.it.500x300', class='ui image')
					p At Raleigh &amp; Co., our mission is ensure you succeed in acheiving your dreams. For some clients, it's launching, or getting your artwork out there. For other clients, its about achievin financial independence by doing what you love.
					p This is the second paragraph of the story section.
					p This is the third paragraph of the story section.
					p This is the fourth paragraph of the story section.
					p This is the fifth paragraph of the story section.

	section(id='our-values')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Our Values		
			div(class='ui seven wide column')
				div(class='ui raised segment')
					div(class='ui list')
						div(class='ui item')
							span(class='ui bold') Transparency: Always being upfront about the work we do, never conceiling the price.
						div(class='ui item')
							span(class='ui bold') Honesty: 

	section(id='ideal-clients')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Ideal Clients
			div(class='ui six wide left aligned column')
				div(class='ui raised segment')
					p At Raleigh &amp; Company, we expect clients to pay in a timely fashion. This allows us to maintain trust. We 
	section(id='ventures')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='bottom blue border') Our Projects		
			div(class='ui seven wide column')
				div(class='ui vertical list')
					div(class='ui item')
						div(class='ui raised segment')
							h3(class='left aligned uppercase header') Natives Who Code
							p A training program for Native American Software engineers
							a(class='ui basic blue button') Visit Natives Who Code

					div(class='ui padded item')
						div(class='ui raised segment')
							h3(class='ui left aligned uppercase header') Log Camp
							p A vocational school for underserved youth teaching coding, computer science, and software development skills.
							a(class='ui basic blue button') Visit Log Camp

					div(class='ui padded item')
						div(class='ui raised segment')
							h3(class='ui left aligned uppercase header') Guerilla Division
							p A compact web agency working with nonprofits, creatives, and independent professionals.
							a(class='ui basic blue button') Visit Guerilla Division

					div(class='ui padded item')
						div(class='ui raised segment')
							h3(class='ui left aligned uppercase header') Press
							p A digital arts and culture magazine covering Portland, OR.
							a(class='ui basic blue button') Visit Press

	section(id='contact')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Contact Us
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') RGR Ventures is a digital agency located in Portland, OR
					img(src='http://placehold.it/140x140', class='ui image')
					address 334 NW 11th Ave, Portland, OR 97204
					ul(class='ui vertical list')
						div(class='ui item')
							a(href='')
								span info@rgrventures.com
						div(class='ui item')
							a(href='')
								span +1 (503) 502-6125
					a(class='ui basic grey button') Email Robert
					a(class='ui basic blue button') Call Robert
