extends layout

block content
	header(class='ui straight grey segment')
		div(class='ui internally celled padded grid')
			div(id='contact-header-banner-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned grey header')
					span(class='blue bottom border') #{headerSection.title}
			div(class='ui seven wide column')
				h2(class='ui header') Raleigh &amp; Co. is a digital agency.
				p This is the main thing about the company.
				p This is the side box

	section(id='office')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				address 334 NW 11th Ave, Portland, OR 97204
			div(id='office-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey header') Office

	//
		section(id='sticky-test', class='ui bound top sticky')
		div(class='ui inverted blue straight segment')
		div(class='ui blue menu navbar')
		a(href='', class='ui item') Home
		a(href='', class='ui item') About
		a(href='', class='ui item') Contact
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test

	section(id='social-media')
		div(class='ui internally celled padded grid')
			div(id='social-media-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey uppercase header')
					span(class='blue bottom border') Social Media
			div(class='ui seven wide column')
				div(class='ui vertical list')
					div(class='ui item')
						a(href='', class='') Twitter
					div(class='ui item')
						a(href='') Facebook

	section(id='contact-form')
		div(class='ui internally celled padded grid')
			div(id='contact-form-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey uppercase header')
					span(class='blue bottom border') Contact Form
			div(class='ui seven wide column')
				address 334 NW 11th Ave, Portland, OR 97204
