extends layout

block content

	header(class='ui straight grey segment')
		div(class='ui internally celled padded grid')
			div(id='contact-header-banner-img', class='ui nine wide column')
				h2(class='ui uppercase right aligned inverted grey header')
					span(class='blue bottom border') #{headerSection.title}
			div(class='ui seven wide column')
				div(class='ui segment')
					h2(class='ui header') Raleigh &amp; Co. is a digital web agency.
					p This is the main thing about the company. Consolidating your business operations.
					p We help small business owners adapt to a changing marketplace. Online world.
					p We serve nonprofits, professionals, education, and others independent contractors. Maintain, your online presence, and 
					|	essential business tools.
					p Raleigh &amp; Co. is based in Portland, OR.
					div(class='ui horizontal list')
						div(class='ui item')
							a(href='mailto:robert@raleighand.co', class='ui basic blue button') Email us
						div(class='ui item')
							a(href='tel:+15035026125', class='ui basic grey button') Call us

	section(id='location')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') The Raleigh &amp; Co. offices are housed at Deskhub, a coworking space located in the Pearl District, in Portland, OR.
					a(href='', class='') 
						p address: 334 NW 11th Ave, Portland, OR 97204
					a(href='tel:+15034462037', class='') 
						p phone: (503) 446-2037
					a(href='http://www.deskhub.com/portland', class='')
						p website: www.deskhub.com/portland
					div(class='ui horizontal list')
						div(class='ui item')
							h4(class='ui uppercase header') Building Entrance
							img(src='http://placehold.it/220x160', class='ui responsive image')
						div(class='ui item')
							h4(class='ui uppercase header') Get directions
							img(src='http://placehold.it/220x160', class='ui responsive image')
			div(id='location-banner-img', class='ui nine wide column')
				h2(class='ui uppercase inverted grey header')
					span(class='blue bottom border') Location
	//
		section(id='sticky-test', class='ui bound top sticky')
		div(class='ui inverted blue straight segment')
		div(class='ui blue menu navbar')
		a(href='', class='ui item') Home
		a(href='', class='ui item') About
		a(href='', class='ui item') Contact
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test
		a(href='', class='ui item') Test

	section(id='social-media')
		div(class='ui internally celled padded grid')
			div(id='social-media-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey uppercase right aligned header', style='color: #eeeeee !important; font-size: 5rem;')
					span(class='blue bottom border') Social Media
			div(class='ui seven wide column')
				div(class='ui segment')
					div(class='ui divided items')
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
							div(class='middle aligned content')
								h4(class='ui uppercase header') twitter.com/robertgraleigh
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
							div(class='middle aligned content')
								h4(class='ui uppercase header') linkedin.com/in/robertgraleigh
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
							div(class='middle aligned content')
								h4(class='ui uppercase header') github.com/robertgraleigh

	section(id='contact-form')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Contact Raleigh &amp; Co.
					form(class='ui padded form')
						div(class='ui field')
							label(for='name') Full Name
							input(name='name', type='text', class='', placeholder='Enter your full name')
						div(class='ui field')
							label(for='lastName') Email Address
							input(name='lastName', type='text', class='', placeholder='Enter your email address')
						div(class='ui field')
							label(for='subject') Phone Number
							input(name='subject', type='text', class='', placeholder='Enter your phone number')
						div(class='ui field')
							label(for='message') Message
							textarea(name='message', col=3, placeholder='Please enter your message here')
						div(class='ui field')
							input(type='submit', class='ui basic blue button')
							input(type='reset' class='ui basic grey button')

			div(id='contact-form-banner-img', class='ui nine wide column')
				h2(class='ui uppercase grey uppercase header', style='color: #eeeeee !important; font-size: 5rem;')
					span(class='blue bottom border') Contact Form
