extends layout

block content

	section(id='form-test')
		div(class='ui internally celled padded grid')
			div(class='ui eight wide column')
				h3(class='ui header') Enter the top secret password
				form(class='ui form')
					div(class='ui field')
						label(class='ui text') Secret
						input(type='password', name='secret')
					div(class='ui field')
						input(type='submit', value='show me')
