extends layout

block content

	header(id='home-header')
		div(class='ui internally celled padded grid')
			div(id='home-img', class='ui nine wide column')
				h1(class='ui uppercase center aligned inverted white header')
					span(class='blue bottom border') #{header.mainHeader}
				h3(class='ui center aligned header', style="font-size: 2rem; color: #f7f7f7 !important;") #{header.subHeader}
			div(class='ui seven wide column')
				h3(class='ui header') This is a sample of the paragraph section for the home page.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the 
				| contracts I need in order to be successful.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the 
				| contracts I need in order to be successful.
				a(class='ui basic blue button') View Products
				a(class='ui basic grey button') View Services

	section(id='products-section')
		div(class='ui internally celled padded centered grid')
			div(class='ui sixteen wide center aligned column')
				h2(class='ui header') I build maintainable products for people without much time on their hands. I provide regular support so you can build on your own goals. Focus on the key work.
			div(class='ui row')
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/swirl_pattern.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Websites
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/symphony.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Shops
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Hybrid Apps
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Articles
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Articles

	section(id='benefits')
		div(class='ui internally celled padded grid')
			div(id='benefits-banner-img', class='ui seven wide column')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Benefits
			div(class='ui nine wide column')
				div(class='ui items')
					div(class='item')
						div(class='image')
							img(src='/img/placeholder.png')
							div(class='content')
							a(class='header') Header
								div(class='meta')
									span Description
									div(class='description')
									div(class='extra')
									span Additional Details
						div(class='item')
							div(class='image')
								img(src='/img/placeholder.png')
							div(class='content')
								a(class='header') Header
							div(class='meta')
								span Description
							div(class='description')
								div(class='extra')
									span Additional Details

	section(id='products')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column swirl_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Products
			div(class='ui nine wide column')
				div(class='ui divided items')
					div(class='ui item')
						div(class='ui segment')
							div(class='ui image')
								img(src='/img/placeholder.png')
							div(class='content')
								a(class='header') Header
								div(class='description')
									p Coding at Metal Toad is a description
					div(class='ui item')
						div(class='ui segment')
							div(class='ui image')
								img(src='/img/placeholder.png')
							div(class='content')
								a(class='header') Header
								div(class='description')
									p This is another coding test at Metal Toad.

	section(id='services')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				div(class='ui divided items')
					div(class='ui item')
						div(class='ui segment')
							div(class='ui image')
								img(src='/img/placeholder.png')
							div(class='content')
								a(class='header') Header
								div(class='description')
									p Coding at Metal Toad is a description
					div(class='ui item')
						div(class='ui segment')
							div(class='ui image')
								img(src='/img/placeholder.png')
							div(class='content')
								a(class='header') Header
									div(class='description')
										p This is another coding test at Metal Toad.
			div(class='ui seven wide column swirl_banner_img')
				h2(class='ui left aligned uppercase inverted white header')
					span(class='blue bottom border') Services

	section(id='services-pricing')
		div(class='ui internally celled padded grid')
			div(id='swirl_banner_img', class='ui six wide column')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Services Pricing
			div(class='ui ten wide column')
				div(class='ui raised segment')
					h2(class='ui header') Content Services
					p No project is too big or too small
					b Starting at
					h2(class='ui blue header') $479 / month
					a(href='/start', class='ui blue button') Get started
						div(class='ui four wide column')
							div(class='ui raised segment')
								h2(class='ui header') Web Services
								p No project is too big or too small
								h2(class='ui blue header') $643.5 / month
								a(href='/start', class='ui blue button') Get started
						div(class='ui four wide column')
							div(class='ui raised segment')
								h2(class='ui header') Even more basic
								p No project is too big or too small
								h2(class='ui blue header') $808.5 / month
								a(href='/start', class='ui blue button') Get started
						div(class='ui four wide column')
							div(class='ui raised segment')
								h2(class='ui header') Not basic at all
								p No project is too big or too small
								h2(class='ui blue header') $973.5 /month
								a(href='/start', class='ui blue button') Get started
