doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/semantic-ui/semantic-ui.min.css', type='text/css')
		link(rel='stylesheet', href='/css/fontawesome/fontawesome.css', type='text/css')
		link(rel='stylesheet', href='/css/app/app.css', type='text/css')
		link(rel='stylesheet', href='/css/app/nav.css', type='text/css')

	body

		header(id='contact-header')
			div(class='ui centered container')
				div(class='ui padded grid')
					div(class='ui five wide column')
						a(class='ui uppercase logo link', href='/', style='font-family: Oswald; font-size: 2rem;') Robert G. Raleigh
					div(class='ui five wide column')
						a(class='ui uppercase brand link') Web &bull; E-Commerce &bull; Creative &bull; People
					div(class='ui three wide column')
						a(class='brand uppercase link', href='/')
							i(class='fa fa-phone fa-fw')
							span(class='ui uppercase bold') +1 (503) 502-6125
					div(class='ui three wide column')
						a(class='ui brand uppercase link', href='/')
							i(class='fa fa-envelope fa-fw')
							span(class='ui uppercase bold') robert@raleighand.co

		nav(class='ui borderless attached menu')
			div(class='ui item')
				i(class='fa fa-home fa-fw')
				a(class='uppercase brand link', href='/') Home

			div(class="ui simple dropdown item")
				div(class='ui text') About
				i(class='ui dropdown icon')
				div(class="menu")
					div(class="item")
						a(class='uppercase brand link', href='/about/#roberts-story') Robert's Story
					div(class="item")
						a(class='uppercase brand link', href='/about/#roberts-skillset') Robert's Skillset
					div(class="item")
						a(class='uppercase brand link', href='/about/#employment') Employment
					div(class="item")
						a(class='uppercase brand link', href='/about/#volunteer') Volunteer
					div(class="item")
						a(class='uppercase brand link', href='/about/#education') Education
					div(class="item")
						a(class='uppercase brand link', href='/about/#training') Training
					div(class="item")
						a(class='uppercase brand link', href='/about/#portfolio') Portfolio
					div(class="item")
						a(class='uppercase brand link', href='/about/#testimonials') Testimonials
					div(class="item")
						a(class='uppercase brand link', href='/about/#contact-') Contact Robert

			div(class="ui simple dropdown item") Products
				i(class='ui dropdown icon')
				div(class="menu")
					div(class="item")
						a(class='uppercase brand link', href='/products/websites') Websites
					div(class="item")
						a(class='uppercase brand link', href='/products/online-store') Online Stores
					div(class="item")
						a(class='uppercase brand link', href='/products/cms-systems') CMS Systems
			div(class="ui simple dropdown item") Services
				div(class="menu")
					div(class="item")
						a(class='uppercase brand link', href='/web-services') Web Development + Design
					div(class="item")
						a(class='uppercase brand link', href='/e-commerce-services') E-Commerce + Shops
					div(class="item")
							a(class='uppercase brand link', href='/copywriting-services') Copywriting + Content
					div(class="item")
						a(class='uppercase brand link', href='/development-services') Fundraising + Grantwriting
					div(class="item")
						a(class='uppercase brand link', href='/consulting-services') Consulting + Mentoring
			div(class="ui simple dropdown item") Company
				div(class="menu")
					div(class="item")
						a(class='uppercase brand link', href='/company/#our-story') Our Story
					div(class="item")
						a(class='uppercase brand link', href='/company/#ideal-clients') Ideal Clients
					div(class="item")
						a(class='uppercase brand link', href='/company/#mission') Mission
					div(class="item")
						a(class='uppercase brand link', href='/company/#vision') Vision
					div(class="item")
						a(class='uppercase brand link', href='/company/#values') Values
					div(class="item")
						a(class='uppercase brand link', href='/company/#projects') Projects
					div(class="item")
						a(class='uppercase brand link', href='/company/#contact-us') Contact Us

			div(class='ui item')
				a(class='uppercase brand link', href='/portfolio') Portfolio
			div(class="ui simple dropdown item") Resources
				div(class="menu")
					div(class='ui item')
						a(class='uppercase brand link', href='/resources/interviews') Interviews
					div(class='ui item')
						a(class='uppercase brand link', href='/resources/articles') Articles
					div(class='ui item')
						a(class='uppercase brand link', href='/resources/tools') Tools
					div(class='ui item')
						a(class='uppercase brand link', href='/resources/books') Books
					div(class='ui item')
						a(class='ui uppercase brand link', href='resources/tutorials') Tutorials
					div(class='ui item')
						a(class='ui uppercase brand link', href='resources/podcasts') Podcasts
					div(class='ui item')
						a(class='ui uppercase brand link', href='resources/blog') Blog
			div(class='ui item')
							a(class='ui grey button', href='/contact') Contact Us
			div(class='ui item')
				a(class='ui blue button', href='/start') Get Started

		block content

		section(id='newsletter', class='ui inverted grey straight segment')
			div(class='ui container')
				div(class='ui padded grid')
					div(class='ui sixteen wide column')
						h2(class='ui uppercase center aligned header')
							span(class='blue bottom border') Newsletter

						form(id='newsletter', class='ui form')
							div(class='ui fields')
								div(class='ui four wide field')
									input(type='text', placeholder='First Name')
								div(class='ui four wide field')
									input(type='text', placeholder='Last Name')
								div(class='ui four wide field')
									input(type='text', placeholder='Email address')
								div(class='ui four wide field')
									button(id='', class='ui blue button') Subscribe

		section(id='secondary-nav')
			div(class='ui internally celled padded centered grid')

				div(class='ui three wide column')
					div(class='ui relaxed divided vertical list')
						div(class='ui item')
							a(href='/about')
								h3(class='ui uppercase header') About
						div(class='ui item')
							a(href='/roberts-story', class='uppercase brand link') Robert's Story
						div(class='ui item')
							a(href='/experience', class='uppercase brand link') Work Experience
						div(class='ui item')
							a(href='/volunteer', class='uppercase brand link') Volunteer
						div(class='ui item')
							a(href='/skillset', class='uppercase brand link') Technical Skills
						div(class='ui item')
							a(href='/soft-skills', class='uppercase brand link') Soft Skills
						div(class='ui item')
							a(href='/testimonials', class='uppercase brand link') Testimonials
						div(class='ui item')
							a(href='/portfolio', class='uppercase brand link') Portfolio
						div(class='ui item')
							a(href='/contact', class='uppercase brand link') Contact

				div(class='ui three wide column')
					div(class='ui relaxed divided vertical list')
						div(class='ui item')
							a(href='/products')
							h3(class='ui uppercase header') Products
						div(class='ui item')
							a(class='uppercase brand link') Websites
						div(class='ui item')
							a(class='uppercase brand link') E-Commerce
						div(class='ui item')
							a(class='uppercase brand link') CMS Systems

				div(class='ui three wide column')
					div(class='ui relaxed divided vertical list')
						div(class='ui item')
							a(href='/services')
								h3(class='ui uppercase header') Services
						div(class='ui item')
							a(class='uppercase brand link') Web Development
						div(class='ui item')
							a(class='uppercase brand link') E-Commerce
						div(class='ui item')
							a(class='uppercase brand link') Copywriting
						div(class='ui item')
							a(class='uppercase brand link') Fundraising
						div(class='ui item')
							a(class='uppercase brand link') Consulting

				div(class='ui three wide column')
					div(class='ui relaxed divided vertical list')
						div(class='ui item')
							a(href='/company')
								h3(class='ui uppercase header') Company
						div(class='ui item')
							a(href='/company/#our-story', class='uppercase brand link') Our Story
						div(class='ui item')
							a(href='/company/#ideal-clients', class='ui uppercase brand link') Ideal Clients
						div(class='ui item')
							a(href='/company/#mission', class='uppercase brand link') Mission
						div(class='ui item')
							a(href='/company/#values', class='uppercase brand link') Values
						div(class='ui item')
							a(href='', class='ui uppercase brand link') Ventures
						div(class='ui item')
							a(href='', class='ui uppercase brand link') Contact Us

				div(class='ui three wide column')
					div(class='ui relaxed divided vertical list')
						div(class='ui item')
							a(href='/blog')
								h3(class='ui uppercase header') Blog
						div(class='ui item')
							a(class='uppercase brand link') Tools
						div(class='ui item')
							a(class='uppercase brand link') Resources
						div(class='ui item')
							a(class='uppercase brand link') Articles
						div(class='ui item')
							a(class='uppercase brand link') Events
						div(class='ui item')
							a(class='uppercase brand link') How To

		footer(id="primary-footer")
			div(class='ui internally celled padded centered grid')
					div(class='row')
						div(class='ui four wide column')
							img(src='http://placehold.it/140x140', class='ui image')
						div(class='ui four wide column')
							h4(class='ui uppercase left aligned inverted grey header')
								span(class='blue bottom border') About Robert
							p(class='ui inverted grey') Robert G. Raleigh is a full-stack MEAN Web Developer, who works with small and mid-size businesses.
						div(class='ui four wide column')
							h4(class='ui uppercase left aligned inverted grey header')
								span(class='blue bottom border') Contact Info
							div(class='ui vertical list')
								div(class='ui item')
									a(class='ui footer link', href='http://www.twitter.com')
										i.fa.fa-phone.fa-fw
										span 1 (503) 502-6125
								div(class='ui item')
									a(class='uppercase brand link', href='/')
										i.fa.fa-envelope.fa-fw
										span robert[at]rgr.com
								div(class='ui item')
									a(class='ui footer link', href='/')
										i.fa.fa-map-marker.fa-fw
										span 334 NW 11th Ave, PDX
						div(class='ui four wide column')
							h4(class='ui uppercase left aligned inverted grey header')
								span(class='blue bottom border') Social Media
							div(class='ui vertical list')
								div(class='ui item')
									a(class='ui footer link', href='/')
										i(class='fa fa-twitter fa-fw')
										span @RobertGRaleigh
								div(class='ui item')
									a(class='ui footer link', href='/')
										i(class='fa fa-linkedin fa-fw')
										span @RobertGRaleigh
								div(class='ui item')
									a(class='ui footer link', href='/')
										i(class='fa fa-github fa-fw')
										span @RobertGRaleigh

		section(id='copyright-notice', class='ui straight grey segment')
			div(class='ui container')
				div(class='ui padded centered grid')
					div(class='row')
						div(class='ui eight wide column')
							p &copy; Copyright #{ year }, RGR Group, Inc. All rights reserved.
						div(class='ui four wide column')
							a(href='/privacy', class='ui footer link') Privacy Policy
						div(class='ui four wide column')
							p Made in PDX

	script(src='/js/jquery/jquery.min.js', type='text/javascript')
	script(src='/js/semantic-ui/semantic.min.js', type='text/javascript')
	script(src='/js/app/sticky.js', type='type/javascript')
