nav(class='ui attached menu')
  div(class="ui simple dropdown item")
    div(class="menu")
      div(class="ui item")
        a(href='/home', class='ui brand uppercase link')
          i(class="fa fa-home fa-fw")
            span Home
      div(class='ui divider')
      div(class="ui item")
        a(href='/about', class='ui brand uppercase link') About
      div(class='ui divider')
      div(class="ui item")
        a(href='/products', class='ui brand uppercase link') Products
      div(class='ui divider')
      div(class="ui item")
        a(href='/services', class='ui brand uppercase link') Services
      div(class='ui divider')
      div(class="ui item")
        a(href='/company', class='ui brand uppercase link') Company
      div(class='ui divider')
      div(class="ui item")
        a(href='/portfolio', class='ui brand uppercase link') Portfolio
      div(class='ui divider')
      div(class="ui item")
        a(href='/blog', class='ui brand uppercase link') Blog
      div(class='ui divider')
      div(class="ui item")
        a(href='/contact', class='ui brand uppercase link') Contact
      div(class='ui divider')
      div(class="ui item")
        a(href='/start', class='ui brand uppercase link') Get Started
