extends layout

block content

	header(id='products-header')
		div(class='ui internally celled padded grid')
			div(id='products-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Products
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Creating elegant products for small business owners
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
					p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
					a(href='/contact', class='ui basic grey button') Contact Robert
					a(href='/get-started', class='ui basic blue button') Get Started

	section(id='product-types')
		div(class='ui internally divided padded grid')
			div(class='ui seven wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header') 
					span(class='blue bottom border') Products			 	
			div(class='ui nine wide column')
				div(class='ui segment')
					div(class='ui divided items')
						each product in products
							div(class='ui item')
								h3(class='ui header') #{product.header}
									p #{product.copy}
									a(href='#{product.link}' class='ui basic blue button') #{product.button}
