// views -> resources.jade
extends layout

block content

	header(id='resources-header', class='')
		div(class='ui internally celled padded grid')
			div(id='start-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header') 
					span(class='blue bottom border') Resources
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') This is the resources view.
					p This is the the text for resources view.
					
	section(id='get-started')
		div(class='ui internally celled padded grid')
			div(id='', class='ui eight wide column')
				p This is the get started section.
			div(id='', class='ui eight wide column')
				p This is the get started section.
				
	section(id='contact-info')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted grey header')
					span(class='blue bottom border') Contact Info
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Robert G. Raleigh