// service.jade
extends layout

block content

	header(id='service-header')
		div(class='ui internally celled padded grid')
			div(id='service-header-img', class='ui nine wide column')
				h1(class='ui header')
					span(class='blue bottom border') Service Landing Page
			div(class='ui seven wide column')
				h3(class='ui header') Service subheader
	
	section(id='')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui header') Test Header
			div(class='ui seven wide column')
				p This is a test section
				
	section(class='')
		div(class='ui internally celled padded grid')
			div(class='ui items')
				div(class='ui item')
					a(class='uppercase brand link') Web Development
				div(class='ui item')
					a(class='uppercase brand link') Web Design
				div(class='ui item')
					a(class='uppercase brand link') Web Maintenance
				div(class='ui item')
					a(class='uppercase brand link') Web Hosting
				div(class='ui item')
					a(class='uppercase brand link') E-Commerce
				div(class='ui item')
					a(class='uppercase brand link') Copywriting
				div(class='ui item')
					a(class='uppercase brand link') Branding
				div(class='ui item')
					a(href='/fundraising', class='uppercase brand link') Fundraising