// views -> start.jade
extends layout

block content

	header(id='start-header', class='')
		div(class='ui internally celled padded grid')
			div(id='start-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header') 
					span(class='blue bottom border') Get Started
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') This is the key segment 
					p This is the the text for the the get started page.
					
	section(id='get-started')
		div(class='ui internally celled padded grid')
			div(id='', class='ui eight wide column')
				p This is the get started section.
			div(id='', class='ui eight wide column')
				p This is the get started section.
				
	section(id='contact-info')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted grey header')
					span(class='blue bottom border') Contact Info
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Robert G. Raleigh
					ul(class='ui vertical list')
						div(class='ui item')
							a(href='tel:+15035026125')
								span +1 (503) 502-6125
						div(class='ui item')
							a(href='')
								span robert@rgr.com
						div(class='ui item')
							a(href='https://www.twitter.com/robertgraleigh') @RobertGRaleigh
						div(class='ui item')
							a(href='https://www.linkedin.com/in/robertgraleigh') @RobertGRaleigh
							h3(class='ui header') Office
							address 334 NW 11th Ave, Portland, OR 97204
					div(class='ui horizontal list')
						div(class='ui item')
							img(src='http://placehold.it/140x140', alt='Robert G Raleigh')
						div(class='ui item')
							img(src='http://placehold.it/140x140', alt='Robert G Raleigh')