// views -> start.jade
extends layout

block content

	header(id='start-header', class='')
		div(class='ui internally celled padded grid')
			div(class='start-banner-img', class='ui seven widce llcolumn
				h2(class='ui header')
					span(class='blue bottom border') Start project
			div(class='ui nine wide column')

	section(id='', class='')
		div(class='ui internally celled grid')
			div(class='ui seven wide column')
				h2(class='')
			div(class='ui nine wide column')
				p Stripe subscription plans.
				p These are the stripe subscription and payment plan models.
