// views -> web-services.jade
extends layout

block content

	header(id='web-services-header')
		div(class='ui internally celled padded grid')
			div(id='web-services-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header') 
					span(class='blue bottom border') Web Services
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Web services
					p This is the web services products page
				
	section(id='web-development')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Website Development
					
	section(id='web-development-content')
		div(class='ui internally celled padded grid')
			div(class='ui row')
				div(class='ui four wide column')
					p This is the detailed content
				div(class='ui four wide column')
					p This is the detailed content.
				div(class='ui eight wide column')
					h3(class='ui header') Description
					p We provide you with comprehensive website development services. Types of websites. Including landing pages. Pre launch pages. integration with third party app services, including. Email newsletter services. Payment services. Incorporate with third party services., including mailchimp, mailerlite,  
			div(class='ui row')
				div(class='ui four wide column')
					p This is the detailed content
				div(class='ui four wide column')
					h3(class='ui header') Website Types
					ul(class='ui vertical list') 
						div(class='ui item') 
							span Landing pages, 
						div(class='ui item')
							span Single page websites
						div(class='ui item')
							span Business Websites
						div(class='ui item')
							span Corporate websites		
						div(class='ui item')
							span Fundraising websites
						div(class='ui item')
							span Nonprofit websites
				div(class='ui eight wide column')
					h3(class='ui header') Third Party App Integrations
					div(class='ui horizontal list')
						div(class'ui item')
							h4(class='ui header') Email Apps
						div(class='ui item')
							span mailerlite
						div(class='ui item')
							span mailchimp
						div(class='ui item')
							span mailgun
					div(class='ui horizontal list')
						div(class'ui item')
							h4(class='ui header') E-Commerce Apps
						div(class='ui item')
							span Shopify
						div(class='ui item')
							span Magento
						div(class='ui item')
							span Square
				
	section(id='web-design')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Website Design
					
	section(id='website-design-content')
		div(class='ui internally celled padded grid')
			div(class='ui eight wide column')
				p This is the detailed content
			div(class='ui eight wide column')
				p This is the detailed content.
					
	section(id='website-maintenance')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Website Maintenance	
					
	section(id='website-maintenance-content')
		div(class='ui internally celled padded grid')
			div(class='ui eight wide column')
				p This is the detailed content
			div(class='ui eight wide column')
				p This is the detailed content.
									
	section(id='website-hosting')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Website Hosting
					
	section(id='website-hosting-content')
		div(class='ui internally celled padded grid')
			div(class='ui row')
				div(class='ui four wide column')
					p This is the detailed content
				div(class='ui four wide column')
					p This is the detailed content.
				div(class='ui eight wide column')
					h3(class='ui header') Description
					p We provide you with comprehensive website hosting choices. Types of websites. Including landing pages. Pre launch pages. integration with third party app services, including. Email newsletter services. Payment services. Incorporate with third party services., including mailchimp, mailerlite,  
			div(class='ui row')
				div(class='ui four wide column')
					p This is the detailed content
				div(class='ui four wide column')
					h3(class='ui header') Web Hosting Types
					ul(class='ui vertical list') 
						div(class='ui item') 
							span Shared Hosting 
						div(class='ui item')
							span Virtual Private Servers
						div(class='ui item')
							span Wordpress Hosting
						div(class='ui item')
							span Drupal Hosting						
				div(class='ui eight wide column')
					h3(class='ui header') Third Party Hosting
					div(class='ui horizontal list')
						div(class'ui item')
							h4(class='ui header') E-Commerce Apps
						div(class='ui item')
							span Bluehost
						div(class='ui item')
							span Dreamhost
						div(class='ui item')
							span Pantheon
					
	section(id='website-transfers')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Website Transfers
					
	section(id='webste-transfers-content')
		div(class='ui internally celled padded grid')
			div(class='ui eight wide column')
				p This is the detailed content
			div(class='ui eight wide column')
				p This is the detailed content.
					
	section(id='web-services-pricing')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide column')
				h2(class='ui uppercase center aligned header')
					span(class='blue bottom border') Web Services Pricing
				
	section(id='web-services-pricing-tables')
		div(class='ui internally celled padded grid')
			div(class'ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Simple Web Projects 
					p(class='blue-price') Starting at $796.25 / monthly
			div(class='ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Complex Web Projects
					p(class='blue-price') Starting at $877.50 / monthly
			div(class='ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Custom Web Projects
					p(class='blue-price') Starting at $958.75 / monthly
			
					
			
	
						