// views -> web.jade
extends layout

block content

	header(id='web-services-header')
		div(class='ui internally celled padded grid')
			div(id='web-services-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header') 
					span(class='blue bottom border') Web Services
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Web services
					p This is the web services products page
				
	section(id='web-development')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui uppercase header')
					span(class='blue bottom border') Website Development
					
	section(id='web-developement-content')
		div(class='ui internally celled padded grid')
			div(class='ui eight wide column')
				p This is the detailed content
			div(class='ui eight wide column')
				p This is the detailed content.
				
	section(id='web-design')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui uppercase header')
					span(class='blue bottom border') Website Design
					
	section(id='web-maintenance')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui uppercase header')
					span(class='blue bottom border') Website Maintenance			
					
	section(id='web-hosting')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui uppercase header')
					span(class='blue bottom border') Website Hosting
					
	section(id='website-transfers')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui uppercase header')
					span(class='blue bottom border') Website Transfers
					
	section(id='web-services-pricing')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column')
				h2(class='ui header')
					span(class='blue bottom border') Web Services Pricing
			div(class='ui seven wide column')
				h2(class='ui header') pricing
				
	section(id='web-services-pricing-tables')
		div(class='ui internally celled padded grid')
			div(class'ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Simple Projects 
					p(class='blue-price') Starting at $796.25 / monthly
			div(class='ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Complex Projects
					p(class='blue-price') Starting at $877.50 / monthly
			div(class='ui five wide column')
				div(class='ui segment')
					h3(class='ui header') Custom Projects
					p(class='blue-price') Starting at $958.75 / monthly
			
					
			
	
						