extends layout

block content

	header(id='websitesHeader', class='ui straight grey segment')
		div(class='ui grid')
			div(class='ui five wide column')
				div(class='ui raised white segment')
					h3(class='ui header') Price one
			div(class='ui five wide column')
				div(class='ui raised white segment')
					h3(class='ui header') Price two
			div(class='ui five wide column')
				div(class='ui raised white segment')
					h3(class='ui header') Price three
